.project
.classpath
.settings/
target/
.metadata/
.dbeaver-data-sources.xml
secret_notes
*application-local.properties
tmp/
.application-path.properties
.factorypath/
test/
.factorypath
WEBSCHOP-DOCS.html
docs.md
src/main/resources/static/image/gm_szoporoller.jpg
