<html xmlns:th="http://www.thymeleaf.org/">
<body>
<div th:fragment="article" th:remove="tag">

    <div class="article news-article">
        <div class="svg-header">
            <div class="news">
                <i class="material-icons">calendar_today</i>
                <span>01.08.</span>
            </div>
        </div>

        <h3>GO for launch</h3>

        <p>
            A 13. hét kedd alkalmával megtartott teszt sikeresen zárult. A felmerülő kisebb hibák azóta
            javításra kerültek, és az oldal készen áll az éles használatra. Ezúton is köszönjük az
            Americanonak, hogy elsőként nyitottak valünk.
        </p>

        <p>
            Szeretnél többet megtudni, vagy szívesen bekapcsolódnál a fejlesztésbe?
        </p>

        <ul>
            <li><a href="https://github.com/orgs/kir-dev/projects/5"><i class="material-icons">link</i> Fejlesztési
                információk</a></li>
            <li><a href="https://github.com/kir-dev/sch-pincer"><i class="material-icons">link</i> Hogyan tudok
                segíteni?</a></li>
            <li>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSe1XaJuDzGjPUWvSnud8XXsEgUCUOUGsCHeoud_AgVJb6qorA/viewform?usp=sf_link"><i
                        class="material-icons">link</i> Vannak ötleteim/visszajelzésem</a></li>
        </ul>
    </div>

</div>
</body>
</html>