<html xmlns:th="http://www.thymeleaf.org/">
<body>
<div th:fragment="article" th:remove="tag">

    <div class="article news-article">
        <div class="svg-header">
            <div class="news">
                <i class="material-icons">calendar_today</i>
                <span>01.08.</span>
            </div>
        </div>

        <h3>GO for launch</h3>

        <p>
            A 13. hét kedd alkalmával megtartott teszt sikeresen zárult. A felmerülő kisebb hibák azóta
            javításra kerültek, és az oldal készen áll az éles használatra. Ezúton is köszönjük az
            Americanonak, hogy elsőként nyitottak valünk.
        </p>

        <p>
            Az appról és az első éles tesztről megtudhatsz többet az alábbi linkekre kattintva:
        </p>

        <ul>
            <li><a href="https://kir-dev.sch.bme.hu/schpincer-release"><i class="material-icons">link</i> Teljes cikk a KIR-DEV oldalán</a></li>
            <li><a href="https://kir-dev.sch.bme.hu/schpincer-release"><i class="material-icons">link</i> Mindenkori release információk</a></li>
        </ul>
    </div>

</div>
</body>
</html>