<html xmlns:th="http://www.thymeleaf.org/">
<body>
<div th:fragment="article" th:remove="tag">

    <div class="article news-article">
        <div class="svg-header">
            <div class="news">
                <i class="material-icons">calendar_today</i>
                <span>12.10.</span>
            </div>
        </div>

        <h3>BETEKINTÉS</h3>

        <p>
            Az szorgalmi időszak végének közeledtével tekintsd meg a féléves összefoglalónkat!
        </p>

        <div style="text-align: center; margin-bottom: 40px">
            <a th:href="@{/stats}">
                <img style="margin: 0 auto" src="https://openmoji.org/data/color/svg/1F381.svg" width="200px" alt="betek"><br />
                Betekintés 2021 ősz (katt)
            </a>
        </div>
    </div>

</div>
</body>
</html>