<html xmlns:th="http://www.thymeleaf.org/">
<body>
<div th:fragment="article" th:remove="tag">

    <div class="article news-article">
        <div class="svg-header">
            <div class="news">
                <i class="material-icons">calendar_today</i>
                <span>10.14.</span>
            </div>
        </div>

        <h3>TRASHPANDA</h3>

        <p>
            Lezárult a komolytalan szavazás amit a netpincér foodpandává változtatása ihletett. Köszönjük mindenkinek aki szavazott!<br>
            Jó ötletnek <b>363</b> ember tartotta, <b>206</b> nyomott az oké gombra és <b>170</b> szerint pocsék ötlet.<br>
            Természetesen nem fogjuk átnevezni az schpincért, de a jövőben több trashpandás eastereggre is számíthattok majd!
        </p>

        <p>
            Szeretnél többet megtudni az sch-pincérről, vagy szívesen bekapcsolódnál a fejlesztésbe?
        </p>

        <ul>
            <li><a href="https://github.com/kir-dev/sch-pincer"><i class="material-icons">link</i> A github repónk</a></li>
        </ul>
    </div>

</div>
</body>
</html>