<html lang="hu" xmlns:th="http://www.thymeleaf.org/">
<body>
<div th:fragment="article" th:remove="tag">

    <div class="article news-article">
        <div class="svg-header">
            <div class="news">
                <i class="material-icons">calendar_today</i>
                <span>09.06.</span>
            </div>
        </div>

        <h3>Mi leszünk végig</h3>

        <p>
            Mindegy milyen rég óta vagy már fiatal, ha megéheztél, jó helyen jársz! A kajás körök nyitásai visszatértek!
        </p>

        <p>
            Szeretnél többet megtudni, vagy szívesen bekapcsolódnál a fejlesztésbe?
        </p>

        <ul>
            <li><a href="https://github.com/kir-dev/sch-pincer"><i class="material-icons">link</i> Besegítenék</a></li>
            <li>
                <a href="https://github.com/kir-dev/sch-pincer/issues/new"><i class="material-icons">link</i> Vannak ötleteim/visszajelzésem</a>
            </li>
        </ul>
    </div>

</div>
</body>
</html>
