<html xmlns:th="http://www.thymeleaf.org/">
	<body>	
		<div th:fragment="menu(user)">
			<a th:if="${session.user} neq null" th:href="@{/admin/}" class="icon"><i class="material-icons main">dashboard</i></a>
			<a th:if="${session.user} neq null" th:href="@{/configure/}" class="icon"><i class="material-icons main">tune</i></a>

			<a href="index.html"    th:href="@{/}"       th:text="#{lang.nav.home}">Home</a>
			<a href="circle.html"   th:href="@{/circle}" th:text="#{lang.nav.circle}">Circles</a>
			<a href="items.html"    th:href="@{/items}"  th:text="#{lang.nav.items}">Items</a>

			<a th:if="${session.user} neq null" th:href="@{/profile}" th:text="${session.user?.name}">Test User</a>
			<a th:if="${session.user} eq null" href="#login" th:href="@{/login}" th:text="#{lang.nav.login}">Login</a>
		</div>
	</body>
</html>