<html xmlns:th="http://www.thymeleaf.org/">
	<body>	
		<div th:fragment="menu(user)">
			<object th:if="${session.user} != null" th:remove="tag"> 
			<a th:if="${session.user.sysadmin}" th:href="@{/admin/}" class="icon">
				<i class="material-icons main">dashboard</i>
			</a>
			<a th:if="${not #lists.isEmpty(session.user.permissions) or session.user.sysadmin}" 
					th:href="@{/configure/}" class="icon">
				<i class="material-icons main">tune</i>
			</a>
			</object>

			<a href="index.html"    th:href="@{/}"       th:text="#{lang.nav.home}" class="long">Home</a>
			<a href="circle.html"   th:href="@{/szor}" th:text="#{lang.nav.circle}" class="long">Circles</a>
			<a href="items.html"    th:href="@{/items}"  th:text="#{lang.nav.items}" class="long">Items</a>

			<a th:if="${session.user} neq null" th:href="@{/profile}" th:text="${session.user?.name}" class="long">Test User</a>
			<a th:if="${session.user} eq null" href="#login" th:href="@{/login}" th:text="#{lang.nav.login}" class="long">Login</a>
			
			<a href="#" class="icon short" onclick="document.getElementById('site-menu').style.display = 'block'"><i class="material-icons">menu</i></a>
		</div>
	</body>
</html>