<html xmlns:th="http://www.thymeleaf.org/">
<body>
<div th:fragment="menu(user)">
    <object th:if="${user} != null" th:remove="tag">
        <a th:if="${user.sysadmin}" th:href="@{/admin/}" class="icon">
            <i class="material-icons main">dashboard</i>
        </a>
        <a th:if="${not #lists.isEmpty(user.permissions) or user.sysadmin}"
           th:href="@{/configure/}" class="icon">
            <i class="material-icons main">tune</i>
        </a>
    </object>

    <a href="index.html" th:href="@{/}" th:text="#{lang.nav.home}" class="long">Home</a>
    <a href="circle.html" th:href="@{/falatozo}" th:text="#{lang.nav.circle}" class="long">Circles</a>
    <a href="items.html" th:href="@{/items}" th:text="#{lang.nav.items}" class="long">Items</a>

    <a th:if="${user} neq null" th:href="@{/profile}"
       th:text="${user?.name.substring(user?.name.trim().lastIndexOf(' ')+1)}" class="long">Test
        User</a>
    <a th:if="${user} eq null" href="#login" th:href="@{/oauth2/authorization/authsch}" th:text="#{lang.nav.login}"
       class="long">Login</a>

    <a href="#" class="icon short" onclick="document.getElementById('site-menu').classList.remove('invisible')"><i
            class="material-icons">menu</i></a>
</div>
</body>
</html>
