<html xmlns:th="http://www.thymeleaf.org/">
	<body>	
		<div th:fragment="stars(count)">
            <i th:title="${count}" class="material-icons">star</i>

            <i th:title="${count}" th:if="${count} lt 1.3" class="material-icons">star_border</i>
            <i th:title="${count}" th:if="${count} ge 1.3 and ${count} lt 1.8" class="material-icons">star_half</i>
            <i th:title="${count}" th:if="${count} ge 1.8" class="material-icons">star</i>
            

            <i th:title="${count}" th:if="${count} lt 2.3" class="material-icons">star_border</i>
            <i th:title="${count}" th:if="${count} ge 2.3 and ${count} lt 2.8" class="material-icons">star_half</i>
            <i th:title="${count}" th:if="${count} ge 2.8" class="material-icons">star</i>


            <i th:title="${count}" th:if="${count} lt 3.3" class="material-icons">star_border</i>
            <i th:title="${count}" th:if="${count} ge 3.3 and ${count} lt 3.8" class="material-icons">star_half</i>
            <i th:title="${count}" th:if="${count} ge 3.8" class="material-icons">star</i>


            <i th:title="${count}" th:if="${count} lt 4.3" class="material-icons">star_border</i>
            <i th:title="${count}" th:if="${count} ge 4.3 and ${count} lt 4.8" class="material-icons">star_half</i>
            <i th:title="${count}" th:if="${count} ge 4.8" class="material-icons">star</i>
		</div>
	</body>
</html>