/**
 * @author Gerviba
 */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

/** Thymeleaf fixes */

object {
	display: none;
}

/* @font-face {  */
/* 	font-family: 'Roboto-offline'; */
/* 	font-weight: 900; */
/*     src: url('../font/Roboto-Black-webfont.eot'); */
/*     src: url('../font/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'), */
/*          url('../font/Roboto-Black-webfont.woff2') format('woff2'), */
/*          url('../font/Roboto-Black-webfont.woff') format('woff'), */
/*          url('../font/Roboto-Black-webfont.ttf') format('truetype'), */
/*          url('../font/Roboto-Black-webfont.svg#robotolight') format('svg'); */
/*     font-style: normal; */
/* } */

/* @font-face {  */
/* 	font-family: 'Roboto-offline'; */
/* 	font-weight: 300; */
/*     src: url('../font/Roboto-Light-webfont.eot'); */
/*     src: url('../font/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), */
/*          url('../font/Roboto-Light-webfont.woff2') format('woff2'), */
/*          url('../font/Roboto-Light-webfont.woff') format('woff'), */
/*          url('../font/Roboto-Light-webfont.ttf') format('truetype'), */
/*          url('../font/Roboto-Light-webfont.svg#robotolight') format('svg'); */
/*     font-style: normal; */
/* } */

/* CSS Content */

body {
	font-family: 'Roboto', 'Roboto-offline', sans-serif;
	background-color: #242425;
}

input, button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

em {
	font-style: normal;
}

input:focus, 
button:focus, 
select:focus,
textarea:focus,
a {
	outline: 0 !important;
}

.blur {
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}

.header {
	padding: 10px 40px 10px 140px;
	background-color: #4c4c4d;
	color: #FFFFFF;
	border-bottom: 8px solid #383839;
}

.header span {
	font-size: 42px;
	font-weight: 900;
	text-shadow: 0 2px 2px #111111;
}

.header nav {
	display: block;
	float: right;
	text-shadow: 1px 1px 2px #111111;
}

.header nav a {
	text-decoration: none;
	font-weight: 900;
	display: inline-block;
	padding: 16px 16px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 16px;
	opacity: 1;
	transition: opacity ease 0.2s;
}

.header nav a:hover {
	opacity: 0.6;
}

.left-menu {
	background-color: #111111;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.left-menu a {
	text-decoration: none;
	display: block;
	text-align: center;
	margin: 40px 0;
	opacity: 1;
	transition: opacity ease 0.2s;
	cursor: pointer;
	color: #FFFFFF;
}

.left-menu a:hover {
	opacity: 0.7;
}

.left-menu a img {
	margin-bottom: 10px;
	cursor: pointer;
}

.content {
	padding-left: 140px;
	padding-right: 40px;
	text-align: center;
	margin-bottom: 40px;
}

/** ITEMS MENU **/

.item-set {
	min-height: 470px;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	margin: 20px auto 0 auto;
	max-width: 1400px;
}

.item {
	display: inline-block;
	max-width: 400px;
	min-width: 400px;
	margin: 40px 20px;
	padding-bottom: 40px;
	background-color: #4c4c4d;
	vertical-align: top;
	position: relative;
	text-align: left;
	flex: 0 0 auto;
	margin: 20px;
}

.item .picture {
	height: 200px;
	background-size: 100% auto;
	background-position: center;
	border-bottom: 4px solid #888888;
	position: relative;
	cursor: pointer;
	transition: background-size ease-out 0.2s;
}

.item:hover .picture {
	background-size: 120% auto;
}

.item .picture .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(136, 136, 136, 0.7));
	z-index: 1000;
}

.item table {
	color: #FFFFFF;
	margin: 10px 20px;
	text-transform: uppercase;
}

.item table td {
	vertical-align: top;
	padding: 5px 10px;
}

.item table td:first-of-type {
	opacity: 0.6;
}

.item h3 {
	background-color: #111111;
	color: #FFFFFF;
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
	padding: 14px 20px 10px 20px;
	display: block;
}

.item span {
	background-color: #383839;
	font-size: 20px;
	font-weight: 900;
	color: #FFFFFF;
	display: block;
	text-transform: uppercase;
	padding: 8px 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.item span a {
	text-decoration: none;
	color: inherit;
	opacity: 1;
	transition: opacity ease 0.2s;
}

.item span a:hover {
	opacity: 0.5;	
}

.item span a i {
	top: 2px;
	position: relative;
	margin-right: 4px;
}

.item span a:last-of-type {
	float: right;
	top: 2px;
	position: relative;
}

.list-end {
	color: #4c4c4d;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 300;
	display: none;
	margin-top: 20px;
}

.search {
	margin: 0 80px 0 auto;
	background-color: #383839;
	max-width: 400px;
}

.search input[type="text"] {
	background-color: transparent;
	border: 0 !important;
	margin: 0;
	width: calc(100% - 72px);
	display: inline-block;
	padding: 4px 16px 8px 16px;
	vertical-align: top;
}

.search i {
	color: #FFFFFF;
	z-index: 2000;
	display: inline-block;
	padding: 4px 4px 8px 4px;
	vertical-align: top;
	opacity: 1;
	transition: opacity ease 0.2s;
}

.search i:hover {
	opacity: 0.8;
}

/** MAIN PAGE **/

.page {
	max-width: 1200px;
	margin: 0 auto;
}

.main-article .picture {
	height: 500px;
	text-align: left;
	border-bottom: 8px solid #383839;
}

.main-article .picture span {
	display: inline-block;
	text-transform: uppercase;
	bottom: 40px;
	margin: 350px 0 0 0;
}

.main-article .picture h2 {
	display: inline-block;
	text-transform: uppercase;
}

.main-article .black-white span {
	color: #FFFFFF;
	background-color: #111111;
	padding: 6px 16px 2px 16px;
	font-weight: 300;
	font-size: 20px;
	border-right: 6px solid #5e8705;
}

.main-article .black-white h2 {
	color: #FFFFFF;
	background-color: #111111;
	padding: 8px 16px;
	font-weight: 900;
	font-size: 36px;
	border-right: 6px solid #5e8705;
}

.article-set {
	min-height: 400px;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	margin-bottom: 40px;
}

.article-set:after {
	display: block;
	content: "  ";
	flex: 999 999 auto;
}

.article {
	min-width: 580px;
	margin: 40px 0 0 0;
	background-color: #FFFFFF;
	border-bottom: 8px solid #383839;
	flex: 1 0 0;
	position: relative;
	padding-bottom: 100px;
}

.article:nth-of-type(2n) {
	margin-left: 20px;
}

.article:nth-of-type(2n+1) {
	margin-right: 20px;
}

.article:last-of-type {
	margin-right: 0;
}

.article .picture {
	background-color: #9d9d9e;
	border-bottom: 4px solid #8d8d8e;
	height: 200px;
	position: relative;
}

.article .picture .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
	z-index: 1000;
}

.article .picture .image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 900;
	filter: grayscale(0.5);
	background-size: cover;
	background-position: center;
}

.article h3 {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 900;
	padding: 10px;
	color: #383839;
}

.article p {
	padding: 0 40px;
	text-align: justify;
	font-size: 16px;
	line-height: 1.3;
	display: block;
}

.article .button-holder {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.article .button-holder a {
	text-decoration: none;
	color: #FFFFFF;
	display: inline-block;
	padding: 16px 20px;
	text-transform: uppercase;
	background-color: #9d9d9e;
	font-weight: 900;
	border-top: 0 solid #FFFFFF;
	border-bottom: 4px solid #8d8d8e;
	margin-bottom: 20px;
}

.article .button-holder a:hover {
	border-top: 4px solid #FFFFFF;
	border-bottom-width: 0;
}

/** CIRCLES **/

.highlighted {
	background-color: #4C4C4D;
    border-bottom: 8px solid #383839;
    color: #FFFFFF;
    margin-top: 40px;
    font-weight: 300;
}

.highlighted h2 {
	text-transform: uppercase;
	padding: 40px 0 0 0;
	font-size: 30px;
	text-align: center;
	border-top: 4px solid #888888;
}

.highlighted h3 {
	text-transform: uppercase;
	padding: 20px 0 20px 0;
	font-size: 24px;
	text-align: center;
	border-top: 4px solid #888888;
}

.highlighted table {
	margin: 40px auto;
	border-spacing: 0 8px;	
}

.highlighted table a {
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
}

.highlighted table a i {
	color: #FFFFFF;	
}

.highlighted table td {
	padding: 4px 12px 2px 12px;
}

.highlighted table.circles-table td:nth-of-type(1) {
	border-right: 4px solid #B7B7B7;
	text-align: right;
}

.highlighted table.circles-table tr:hover {
	background-color: #5c5c5d;
}

.highlighted table.circles-table tr:hover td:nth-of-type(1) {
	background-color: #888888;
}

.highlighted table.circles-table td:nth-of-type(2) {
	text-align: left;
	text-transform: uppercase;
}

.highlighted table.circles-table td:nth-of-type(4) {
	text-align: left;
}

.highlighted p {
	padding: 0 40px 40px 40px;
	text-align: justify;
}

.circles {
	margin-bottom: 40px;
}

.circles .article {
	text-align: left;
	padding-bottom: 0;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.circles .article span {
	font-size: 16px;
	display: inline-block;
	padding: 20px 0 0 40px;
	text-transform: uppercase;
	color: #888888;
}

.circles .article span b {
	color: #383839;
}

.circles .article h3 {
	padding: 20px 20px 20px 40px;
}

.circles .article .picture {
	display: inline-block;
	min-width: 200px;
	min-height: 200px;
	vertical-align: top;
	border-bottom-width: 0;
	border-right-width: 4px; 
	border-right-style: solid; 
}

.circles .article .message {
	display: inline-block;
	min-height: 200px;
	width: calc(100% - 220px);
	vertical-align: top;
}

.member {
	display: inline-block;
	padding: 0 20px 40px 20px;
	text-align: center;
	text-transform: uppercase;
}

.member img {
	height: 100px;
	width: 100px;
	border: 4px solid #888888;
	border-radius: 100px;
	margin-bottom: 10px;
}

.member span {
	color: #9d9d9e;
}

/** FOOTER **/

.footer {
	text-align: center;
	color: #4c4c4d;
	background-color: #000000;
	padding: 40px 40px 20px 140px;
	text-transform: uppercase;
}

.footer a {
	text-decoration: none;
	color: #6c6c6d;
	opacity: 1;
	transition: opacity ease 0.3s;
}

.footer a:hover {
	opacity: 0.7;
}

.footer a img {
	opacity: 0.7;
	padding-bottom: 10px;
	max-width: 200px;
}

.footer a:hover img {
	opacity: 0.6;
}

.footer a i {
	position: relative;
	top: 3px;
	font-size: 20px;
	padding-right: 2px;
}

.footer h3 {
	color: #6c6c6d;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 20px;
	font-size: 24px;
}

.footer .wrapper {
	max-width: 1000px;
	display: -webkit-flex;
	display: flex;
	padding-bottom: 20px;
	margin: 0 auto;
}

.footer .wrapper div {
	flex: 1;
	padding: 0 20px;
}

.footer p {
	padding-bottom: 10px;
}

.footer .gerviba {
	display: inline-block;
	margin: 0 auto;
	padding: 10px 20px 0 20px;
}

.footer .gerviba span i {
	font-size: 20px;
	position: relative;
	top: 4px;
}

.footer .gerviba span:first-of-type {
	color: #6c6c6d;
}

.footer .gerviba span:nth-of-type(2) {
	color: #af0000;
}

.footer .gerviba span a {
	text-decoration: none;
	color: #6c6c6d;
}

.footer .white {
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}

/** ITEM POPUP **/

.popup-bg {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 65000;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.popup {
	flex: 1 0 0;
	max-width: 600px;
	width: 100vw;
	min-height: 600px;
	z-index: 66000;
	background-color: #4c4c4d;
	overflow: hidden;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 8px solid #383839;
}

.popup section {
	position: relative;
}

.popup .picture {
	width: 100%;
	height: 150px;
	border-bottom: 6px solid;
	background-position: center;
	background-size: cover;
	position: absolute;
}

.popup .logo {
	position: relative;
	display: block;
	margin: 0 auto;
	height: 128px;
	top: -64px;
	width: 128px;
	border-radius: 128px;
	border-top: 6px solid;
	border-left: 6px solid;
	border-top-color: inherit !important;
	border-left-color: inherit !important;
	border-bottom: 6px solid;
	border-right: 6px solid;
	border-bottom-color: transparent !important;
	border-right-color: transparent !important;
	background-color: #4c4c4d;
	transform: rotate(45deg);
	text-align: center;
}

.popup .picture img {
	height: 64px;
	width: 64px;
	margin: 32px auto;
	display: inline-block;
	transform: rotate(-45deg);
	position: relative;
	top: -10px;
	left: -10px;
}

.popup .overlay {
	width: 100%;
	height: inherit;
}

.popup h3 {
	font-size: 36px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	top: 200px;
}

.popup .body {
	margin-top: 230px;
	display: -webkit-flex;
	display: flex;
	max-width: 600px;
	margin-bottom: 20px;
}

.popup form {
	flex: 1 0 0;
}

.popup .info {
	flex: 1 0 0;
	padding-right: 20px;
}

.popup .image i {
	color: #FFFFFF;
	position: relative;
	
}

.popup .info .image {
	border-bottom: 4px solid #111111;
	cursor: pointer;
	height: 128px;
	background-size: cover;
	background-position: center;
	text-align: center;
}

.popup .image .overlay {
	cursor: pointer;
	position: relative;
	top: 0;
	left: 0;
	height: 128px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	transition: all ease-out 0.3s;
}

.popup .image:hover .overlay {
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0px 0px 109px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 109px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 109px 0px rgba(0,0,0,0.75);
}

.popup .image i {
	position: relative;
	top: -90px;
	font-size: 64px;
	opacity: 0;
	transition: opacity ease-out 0.3s;
}

.popup .image:hover i {
	opacity: 1;
}
	
.popup .info p {
	display: inline-block;
	color: #FFFFFF;
	font-size: 20px;
	padding-top: 10px;
}

.popup .info h5 {
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 900;
	display: inline-block;
	margin-top: 20px;
	text-transform: uppercase;
}

.popup .info span {
	margin-left: 20px;
	font-size: 20px;
	padding: 4px 8px;
	background-color: #111111;
	border-radius: 4px;
	color: #6c6c6d;
	display: inline-block;
}

.inactive {
	display: none;
}

/** FORM **/

form input[type="text"] {
	background-color: #242425;
	padding: 8px 16px;
	border: 0;
	border-bottom: 4px solid #111111;
	color: #FFFFFF;
	font-family: 'Roboto', 'Roboto-offline', sans-serif;
	font-size: 20px;
	font-weight: 300;
	margin: 10px 20px 20px 20px;
	width: 250px;
}

form select {
	background-color: #242425;
	padding: 8px 16px;
	border: 0;
	border-bottom: 4px solid #111111;
	color: #FFFFFF;
	font-family: 'Roboto', 'Roboto-offline', sans-serif;
	font-size: 20px;
	font-weight: 300;
	margin: 10px 20px 20px 20px;
	width: 282px;
}

form label:first-of-type {
	margin-top: 0;
} 

form label {
	display: block;
	color: #FFFFFF;
	font-family: 'Roboto', 'Roboto-offline', sans-serif;
	margin: 10px 20px 0 30px;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 900;
}

form input[type="submit"] {
	display: block;
	text-transform: uppercase;
	font-family: 'Roboto', 'Roboto-offline', sans-serif;
	font-size: 20px;
	font-weight: 900;
	background-color: transparent;
	padding: 10px 0;
	opacity: 1;
	transition: opacity ease 0.2s;
	cursor: pointer;
	text-align: center;
	width: 100%;
}

form input[type="submit"]:hover {
	opacity: 0.5;
}

/** REVIEW **/

.reviews h2 {
	color: #FFFFFF;
	font-size: 30px;
	margin-top: 40px;
	text-transform: uppercase;
}

.review {
	display: -webkit-flex;
	display: flex;
	background-color: #4C4C4D;
	border-bottom: 8px solid #383839;
	color: #FFFFFF;
	padding: 0 0 0 40px;
	margin-top: 40px;
}

.review .message {
	flex: 1;
}

.review .message p {
	text-align: justify;
	min-height: 112px;
	margin-top: 10px;
	padding-bottom: 30px;
}

.review .message span {
	color: #9d9d9e;
	margin: 32px 0 0 0;
	display: block;
	text-align: right;
	float: right;
}

.review h3 {
	text-align: left;
	margin-top: 30px;
	text-transform: uppercase;
}

.review .stars {
	background-color: #111111;
	padding: 20px 20px 24px 20px;
	text-align: right;
	color: #6c6c6d;
	vertical-align: top;
	display: inline-block;
	margin-left: 40px;
	flex: 0;
	min-width: 270px;
}

.review .stars i {
	position: relative;
	top: 4px;
	color: #F4CF3B;
}

.review .stars span {
	width: 120px;
	display: inline-block;
	text-align: left;
}

.circle-profile {
	margin-left: 100px;
	background-position: center;
	background-size: cover;
	background-color: #000000;
	border-bottom-width: 4px;
	text-align: center;
}

.circle-profile h3 {
	color: #FFFFFF;
	font-size: 52px;
	text-shadow: 0 2px 2px #111111;
	padding-top: 10vh;
	text-transform: uppercase;
}

.circle-profile .overlay {
	border-bottom: 6px solid #FFFFFF;
	min-height: 30vh;
}

.circle-logo {
	text-align: center;
	margin-left: 100px;
	margin-bottom: -100px;
}

.circle-logo .logo {
	background-color: #242424;
	display: inline-block;
	border-radius: 128px;
	width: 128px;
	height: 128px;
	overflow: hidden;
	border-top: 6px solid;
	border-left: 6px solid;
	border-top-color: inherit !important;
	border-left-color: inherit !important;
	border-bottom: 6px solid;
	border-right: 6px solid;
	border-bottom-color: transparent !important;
	border-right-color: transparent !important;
	transform: rotate(45deg);
	text-align: left;
	position: relative;
	top: -70px;
}

.circle-logo .logo img {
	transform: rotate(-45deg);
	top: 23px;
	left: 23px;
	position: relative;
	height: 86px;
	width: 86px;
}

.circle-details {
	display: inline-block;
	vertical-align: top;
	margin: 0 20px 20px 20px !important;
}

.circle-details td:first-of-type {
	text-align: left;
}

.circle-details td:nth-of-type(2) {
	text-align: right;
	height: 34px;
	color: #9d9d9e;
}

.no-icon-space {
	font-size: 0;
}

.no-icon-space i,
.no-icon-space span {
	font-size: 24px;
}

.page-button {
	display: inline-block;
	padding: 10px 20px;
	text-transform: uppercase;
	border: 4px solid #F4CF3B;
	color: #F4CF3B;
	background-color: #242425;
	text-decoration: none;
	margin: 40px 0;
	transition: all ease 0.2s;
}

.page-button:hover {
	color: #242425;
	background-color: #F4CF3B;
}

/** REVIEW **/

.form span {
	display: inline-block;
	vertical-align: top;
	top: 6px;
	position: relative;
	margin-right: 10px;
}

.form i {
	position: relative;
	top: 4px;
	vertical-align: top;
	color: #F4CF3B;
}

.form td:first-of-type {
	text-align: left;
	width: 50%;
	padding-left: 40px;
}

.form td:nth-of-type(2) {
	text-align: left;
	height: 34px;
	color: #9d9d9e;
	width: 50%;
}

.form input[type=range] {
	width: 130px;
}

.highlight-text {
	color: #F4CF3B !important;
}

.highlighted.latest {
	margin-bottom: 40px;
}

form .button {
	display: inline-block !important;
	text-decoration: none;
	border: 2px solid #888888;
	background-color: #4C4C4D;
	color: #888888;
	margin: 20px 10px;
	text-transform: uppercase;
	width: auto !important;
	padding: 10px 16px !important;
	font-size: 20px;
	font-weight: bold;
	transition: opacity ease 0.2s;
}

form .button:hover {
	opacity: 0.5;
}

form input.button {
	color: #F4CF3B;
	border-color: #F4CF3B;
}

table.form {
	width: 100%;
	max-width: 500px;
	margin-top: 0;
	margin-bottom: 0;
}

input[type=range] {
	vertical-align: top;
	-webkit-appearance: none;
	margin: 0px 0;
	display: inline-block;
}

input[type=range]:focus {
	outline: 0;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 32px;
	cursor: pointer;
	background: #242425;
	border-radius: 0px;
	border: 0px solid #000000;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}
	
input[type=range]::-webkit-slider-thumb {
	border: 0px solid rgba(0, 0, 0, 0);
	height: 32px;
	width: 17px;
	border-radius: 0px;
	background: #888888;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	margin-top: 0px;
	outline: 0 !important;
}

input[type=range]:hover::-webkit-slider-thumb {
	background: #F4CF3B;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #242425;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 32px;
	cursor: pointer;
	background: #242425;
	border-radius: 0px;
	border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
	border: 0px solid rgba(0, 0, 0, 0);
	height: 32px;
	width: 17px;
	border-radius: 0px;
	background: #888888;
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 32px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #242425;
	border: 0px solid #000000;
	border-radius: 0px;
}

input[type=range]::-ms-fill-upper {
	background: #111111;
	border: 0px solid #000000;
	border-radius: 0px;
}

input[type=range]::-ms-thumb {
	border: 0px solid rgba(0, 0, 0, 0);
	width: 17px;
	border-radius: 0px;
	background: #888888;
	cursor: pointer;
	height: 32px;
}

input[type=range]:focus::-ms-fill-lower {
	background: #242425;
}

input[type=range]:focus::-ms-fill-upper {
	background: #242425;
}

textarea {
	font-family: 'Roboto', 'Roboto-offline', sans-serif;
	font-size: 17px;
	background-color: #242425;
	padding: 10px 16px;
	color: #FFFFFF;
	border-bottom: 4px solid #111111;
	resize: vertical;
	max-height: 300px;
	min-height: 150px;
	width: calc(100% - 32px);
}

/** RED **/

.article.red .picture {
	background-color: #be2e2e;
	border-bottom-color: #af0000;
}

.article.red a {
	background-color: #be2e2e;
	border-bottom-color: #af0000;
}

.article.red .picture .overlay,
.popup.red .picture .overlay,
.red .gradient .overlay {
	background: linear-gradient(to bottom left, rgba(175, 0, 0, 0.9),
		rgba(111, 0, 0, 0.7)) !important;
}

.item.red .picture {
	border-color: #af0000;
}

.item.red .picture .overlay {
	background: linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(175, 0, 0, 0.5));
}

.item.red span a:last-of-type {
	color: #af0000;
}

.red .colored {
	color: #af0000 !important;
}

.red .border-colored {
	border-color: #af0000 !important;
}

/** GREEN **/

.article.green .picture {
	background-color: #7b9d32;
	border-bottom-color: #5e8705;
}

.article.green a {
	background-color: #7b9d32;
	border-bottom-color: #5e8705;
}

.article.green .picture .overlay,
.popup.green .picture .overlay,
.green .gradient .overlay {
	background: linear-gradient(to bottom left, rgba(94, 135, 5, 0.9),
		rgba(60, 86, 3, 0.7)) !important;
}

.item.green .picture {
	border-color: #5e8705;
}

.item.green .picture .overlay {
	background: linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(94, 135, 5, 0.5));
}

.item.green span a:last-of-type {
	color: #5e8705;
}

.green .colored {
	color: #5e8705 !important;
}

.green .border-colored {
	border-color: #5e8705 !important;
}

/** YELLOW **/

.article.yellow .picture {
	background-color: #f6d85f;
	border-bottom-color: #F4CF3B;
}

.article.yellow a {
	background-color: #f6d85f;
	border-bottom-color: #F4CF3B;
}

.article.yellow .picture .overlay,
.popup.yellow .picture .overlay,
.yellow .gradient .overlay {
	background: linear-gradient(to bottom left, rgba(244, 207, 59, 0.9),
		rgba(155, 132, 38, 0.7)) !important;
}

.item.yellow .picture {
	border-color: #F4CF3B;
}

.item.yellow .picture .overlay {
	background: linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(244, 207, 59, 0.5)) !important;
}

.item.yellow span a:last-of-type {
	color: #F4CF3B;
}

.yellow .colored {
	color: #F4CF3B !important;
}

.yellow .border-colored {
	border-color: #F4CF3B !important;
}

/** BLUE **/

.article.blue .picture {
	background-color: #308bd9;
	border-bottom-color: #0271d1;
}

.article.blue a {
	background-color: #308bd9;
	border-color: #0271d1;
}

.article.blue .picture .overlay,
.popup.blue .picture .overlay,
.blue .gradient .overlay {
	background: linear-gradient(to bottom left, rgba(2, 113, 209, 0.9),
		rgba(1, 72, 133, 0.7)) !important;
}

.item.blue .picture {
	border-bottom-color: #0271d1;
}

.item.blue .picture .overlay {
	background: linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(2, 113, 209, 0.7)) !important;
}

.item.blue span a:last-of-type {
	color: #0271d1;
}

.blue .colored {
	color: #0271d1 !important;
}

.blue .border-colored {
	border-color: #0271d1 !important;
}

/** BLUE **/

.article.blue-dark .picture {
	background-color: #4674b3;
	border-color: #1D55A2;
}

.article.blue-dark a {
	background-color: #4674b3;
	border-bottom-color: #1D55A2;
}

.article.blue-dark .picture .overlay,
.popup.blue-dark .picture .overlay,
.blue-dark .gradient .overlay {
	background: linear-gradient(to bottom left, rgba(29, 85, 162, 0.9),
		rgba(18, 54, 103, 0.7)) !important;
}

.item.blue-dark .picture {
	border-color: #1D55A2;
}

.item.blue-dark .picture .overlay {
	background: linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(29, 85, 162, 0.7)) !important;
}

.item.blue-dark span a:last-of-type {
	color: #1D55A2;
}

.blue-dark .colored {
	color: #1D55A2 !important;
}

.blue-dark .border-colored {
	border-color: #1D55A2 !important;
}

/** PURPLE **/

.article.purple .picture {
	background-color: #8971a2;
	border-bottom-color: #6f518d;
}

.article.purple a {
	background-color: #8971a2;
	border-bottom-color: #6f518d;
}

.article.purple .picture .overlay,
.popup.purple .picture .overlay,
.purple .gradient .overlay {
	background: linear-gradient(to bottom left, rgba(111, 81, 141, 0.9),
		rgba(71, 52, 90, 0.7)) !important;
}

.item.purple .picture {
	border-bottom-color: #6f518d;
}

.item.purple .picture .overlay {
	background: linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(111, 81, 141, 0.8)) !important;
}

.item.purple span a:last-of-type {
	color: #6f518d;
}

.purple .colored {
	color: #6f518d !important;
}

.purple .border-colored {
	border-color: #6f518d !important;
}

/** ORANGE **/

.article.orange .picture {
	background-color: #eead45;
	border-bottom-color: #ea9b1c;
}

.article.orange a {
	background-color: #eead45;
	border-bottom-color: #ea9b1c;
}

.article.orange .picture .overlay,
.popup.orange .picture .overlay,
.orange .gradient .overlay {
	background: linear-gradient(to bottom left, rgba(234, 155, 28, 0.9),
		rgba(149, 99, 18, 0.7)) !important;
}

.item.orange .picture {
	border-bottom-color: #eead45;
}

.item.orange .picture .overlay{
	background: linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(234, 155, 28, 0.3)) !important;
}

.item.orange span a:last-of-type {
	color: #eead45;
}

.orange .colored {
	color: #ea9b1c !important;
}

.orange .border-colored {
	border-color: #ea9b1c !important;
}

