<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="MainLayout :: head">
	<meta charset="UTF-8" /> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,900&amp;subset=latin-ext" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" />
</head>
<body>
	<div class="header" th:replace="MainLayout :: header">
	</div>
	
	<div class="left-menu" th:replace="MainLayout :: left-menu">
	</div>

	<div class="page content">
		<div class="highlighted latest">
			<div class="decoration rating">
				<i class="material-icons main">star</i>
			</div>
			<h3 th:text="#{lang.review.title}" class="topless">Review</h3>
			<form action="#" th:action="@{/provider/__${selectedCircle?.id}__/review}" th:object="${review}" method="post">
				<table class="form">
					<tr>
						<td th:text="#{lang.review.circle}">Circle to review</td>
						<td th:text="${selectedCircle?.displayName}" class="highlight-text"></td>
					</tr>
					<tr>
						<td style="padding-left: 0" colspan="2"><textarea th:field="*{review}" maxlength="1000"></textarea></td>
					</tr>
					<tr>
						<td th:text="#{lang.profile.quality}"></td>
						<td>
							<i th:title="${count}" class="material-icons">star</i><span id="rate-1">x5</span>
							<input id="stars-1" type="range" min="1" max="5" th:field="*{rateQuality}" onmousemove="updateStars(1)" />
						</td>
					</tr>
					<tr>
						<td th:text="#{lang.profile.price}"></td>
						<td>
							<i th:title="${count}" class="material-icons">star</i><span id="rate-2">x5</span>
							<input id="stars-2" type="range" min="1" max="5" th:field="*{ratePrice}" onmousemove="updateStars(2)" />
						</td>
					</tr>
					<tr>
						<td th:text="#{lang.profile.speed}"></td>
						<td>
							<i th:title="${count}" class="material-icons">star</i><span id="rate-3">x5</span>
							<input id="stars-3" type="range" min="1" max="5" th:field="*{rateSpeed}" onmousemove="updateStars(3)" />
						</td>
					</tr>
					<tr>
						<td th:text="#{lang.profile.over-all}"></td>
						<td>
							<i th:title="${count}" class="material-icons">star</i><span id="rate-4">x5</span>
							<input id="stars-4" type="range" min="1" max="5" th:field="*{rateOverAll}" onmousemove="updateStars(4)" />
						</td>
					</tr>
				</table>

				<a class="button" href="circleProfile.html" th:href="@{/provider/__${selectedCircle?.id}__}"
						th:text="#{lang.review.cancel}">Back</a>
				<input class="button" type="submit" th:value="#{lang.review.send}" />
			</form>
		</div>
	</div>
	
	<script>
		function updateStars(id) {
			document.getElementById("rate-" + id).innerHTML = "x" + document.getElementById("stars-" + id).value;
		}
	</script>

	<div th:replace="MainLayout :: footer"></div>
</body>
</html>