<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="MainLayout :: head">
	<meta charset="UTF-8" /> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,900&amp;subset=latin-ext" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" />
</head>
<body>
	<div class="header" th:replace="MainLayout :: header">
		<span th:text="#{lang.header}">WEBSCHOP</span>
		<nav>
			<a href="index.html"	th:href="@{/}" 		 th:text="#{lang.nav.home}">Home</a>
			<a href="circle.html" 	th:href="@{/circle}" th:text="#{lang.nav.circle}">Circles</a>
			<a href="items.html" 	th:href="@{/items}"  th:text="#{lang.nav.items}">Items</a>
			<a href="#login" 		th:href="@{/login}"  th:text="#{lang.nav.login}">Login</a>
		</nav>
	</div>
	
	<div class="left-menu" th:replace="MainLayout :: left-menu">
		<a th:each="circle : ${circles}">
			<img src="../static/icons/ecommerce_bag_check.svg" th:src="@{${circle.logoUrl}}" />
			<span th:text="${circle.displayName}">Vödör</span>
		</a>
		<a th:remove="all"><img src="../static/icons/ecommerce_gift.svg" />Americano</a>
		<a th:remove="all"><img src="../static/icons/ecommerce_graph_increase.svg" />Pizzásch</a>
		<a th:remove="all"><img src="../static/icons/ecommerce_money.svg" />Gyros</a>
		<a th:remove="all"><img src="../static/icons/ecommerce_safe.svg" />Kakas</a>
		<a th:remove="all"><img src="../static/icons/ecommerce_sale.svg" />Lángosch</a>
	</div>

	<div class="content page">
		<div class="highlighted bright">
			<h2 th:text="#{lang.circle.title}">Szolgáltató Reszort</h2>
			<h3 th:text="#{lang.circle.sub-title}">A Schönherz szolgálatában 2004 óta</h3>
		
			<p th:utext="#{lang.circle.description}">Lorem ipsum dolor sit amet</p>
		</div>
		
		<div class="highlighted">
			<h2 th:text="#{lang.circle.next-openings}">Következő nyitások</h2>
			
			<table class="circles-table">
				<tr th:each="opening : ${openings}" th:object="${opening}" th:class="*{circle.cssClassName}" class="purple">
					<td class="border-colored">
						<a href="#" th:text="*{circle.displayName}" th:href="@{/circle/__*{circle.id}__/}">Vödör</a>
					</td>
					<td th:text="#{lang.weekday-__${#dates.dayOfWeek(opening.dateStart)}__}">Hetfő</td>
					<td class="date" th:text="${#dates.format(opening.dateStart, '__#{lang.date-opening-format}__')}">18:00 (18-04-09)</td>
					<td class="feeling" th:text="*{feeling}">Lorem ispsum dolor sit amet.</td>
					<td class="arrow"><a href="#" th:href="@{/circle/__*{circle.id}__/}"><i class="material-icons">navigate_next</i></a></td>
				</tr>
				<tr class="blue" th:remove="all">
					<td class="border-colored"><a href="">Americano</a></td>
					<td>Kedd</td>
					<td>18:00 (18-04-09)</td>
					<td>Random moment cuccok</td>
					<td><a href="#"><i class="material-icons">navigate_next</i></a></td>
				</tr>
				<tr class="orange" th:remove="all">
					<td class="border-colored"><a href="">Pizzásch</a></td>
					<td>Szerda</td>
					<td>18:00 (18-04-09)</td>
					<td>Jack pls mit írjak ide?</td>
					<td><a href="#"><i class="material-icons">navigate_next</i></a></td>
				</tr>
				<tr class="green" th:remove="all">
					<td class="border-colored"><a href="">Dzsájrosz</a></td>
					<td>Csütörtök</td>
					<td>18:00 (18-05-03)</td>
					<td>Type your feeling here</td>
					<td><a href="#"><i class="material-icons">navigate_next</i></a></td>
				</tr>
				<tr class="red" th:remove="all">
					<td class="border-colored"><a href="">Kakas</a></td>
					<td>Vasárnap</td>
					<td>21:00 (18-04-24)</td>
					<td>Forradalmi nyitás</td>
					<td><a href="#"><i class="material-icons">navigate_next</i></a></td>
				</tr>
				<tr class="yellow" th:remove="all">
					<td class="border-colored"><a href="">Lángosch</a></td>
					<td>Vasárnap</td>
					<td>18:00 (18-04-09)</td>
					<td>Lángos lángosch</td>
					<td><a href="#"><i class="material-icons">navigate_next</i></a></td>
				</tr>
			</table>
		</div>
		
		<h2 th:text="#{lang.circle.circles}" class="naked-title">Köreink</h2>
		
		<div class="circles">
			<div th:each="circle : ${circles}" th:object="${circle}" th:class="'article ' + *{cssClassName}" class="article orange">
				<div class="picture border-colored">
					<div class="overlay"></div>
					<div class="image" style="background-image: url('http://wemagazin.com/assets/images/olaszgasztro1pizza.jpg')"
							th:style="'background-image: url(\'' + *{backgroundUrl} + '\');'">
					</div>
				</div>
				<div class="message">
					<h3 th:text="*{displayName}">Pizzásch</h3>
					<p th:text="*{description}">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Quisque eu nibh et mi egestas pretium at eget elit. Vestibulum et felis eget dui facilisis tincidunt.
						Maecenas vel nibh aliquam, luctus massa vel, venenatis elit. Integer et finibus eros. Nullam a enim 
						luctus, volutpat nisl a, vulputate leo. Nulla facilisi. Praesent in neque eget lectus consequat 
						euismod ut eget erat.
					</p>
					<span class="colored-white">
						<b>Következő nyitás:</b>
						<em th:if="${#lists.size(circle.openings) != 0}" class="border-colored"
							th:text="${#dates.format(circle.openings[0].dateStart, #messages.msg('lang.date-format'))}">2018.04.12. 18:00</em>
						<em th:unless="${#lists.size(circle.openings) != 0}" class="border-colored"
							th:text="#{lang.profile.date-not-set}">Nincs beütemezve</em>
					</span>
				</div>
			</div>
			
			<div class="article green" th:remove="all">
				<div class="picture">
					<div class="overlay"></div>
					<div class="image" style="background-image: url('../static/demo/dzsajrosz-bg.jpg')"></div>
				</div>
				<h3>Dzsájrosz</h3>
				<p>
					Donec est turpis, pellentesque at dictum ut, aliquam at turpis. In et turpis at risus lobortis 
					egestas. Mauris tellus dolor, porta id dictum tristique, rutrum sit amet leo. Donec non turpis 
					nulla. Aliquam eget nisi id orci sollicitudin sodales a non enim. Etiam ultrices enim vel 
					nulla gravida viverra.
				</p>
				<span class="colored">
					<b>Következő nyitás:</b>
					<em>2018.04.12. 18:00</em>
				</span>
			</div>
			
			<div class="article blue" th:remove="all">
				<div class="picture">
					<div class="overlay"></div>
					<div class="image" style="background-image: url('../static/demo/americano-bg.jpg')"></div>
				</div>
				<h3>Americano</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Quisque eu nibh et mi egestas pretium at eget elit. Vestibulum et felis eget dui facilisis tincidunt.
					Maecenas vel nibh aliquam, luctus massa vel, venenatis elit. Integer et finibus eros. Nullam a enim 
					luctus, volutpat nisl a, vulputate leo. Nulla facilisi. Praesent in neque eget lectus consequat 
					euismod ut eget erat.
				</p>
				<span class="colored">
					<b>Következő nyitás:</b>
					<em>2018.04.12. 18:00</em>
				</span>
			</div>
			
			<div class="article purple" th:remove="all">
				<div class="picture">
					<div class="overlay"></div>
					<div class="image" style="background-image: url('../static/demo/vodor-bg.jpg')"></div>
				</div>
				<h3>Vödör</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Quisque eu nibh et mi egestas pretium at eget elit. Vestibulum et felis eget dui facilisis tincidunt.
					Maecenas vel nibh aliquam, luctus massa vel, venenatis elit. Integer et finibus eros. Nullam a enim 
					luctus, volutpat nisl a, vulputate leo. Nulla facilisi. Praesent in neque eget lectus consequat 
					euismod ut eget erat.
				</p>
				<span class="colored">
					<b>Következő nyitás:</b>
					<em>2018.04.12. 18:00</em>
				</span>
			</div>
			
			<div class="article red" th:remove="all">
				<div class="picture">
					<div class="overlay"></div>
					<div class="image" style="background-image: url('../static/demo/kakas-bg.jpg')"></div>
				</div>
				<h3>Kakas</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Quisque eu nibh et mi egestas pretium at eget elit. Vestibulum et felis eget dui facilisis tincidunt.
					Maecenas vel nibh aliquam, luctus massa vel, venenatis elit. Integer et finibus eros. Nullam a enim 
					luctus, volutpat nisl a, vulputate leo. Nulla facilisi. Praesent in neque eget lectus consequat 
					euismod ut eget erat.
				</p>
				<span class="colored">
					<b>Következő nyitás:</b>
					<em>2018.04.12. 18:00</em>
				</span>
			</div>
			
			<div class="article yellow" th:remove="all">
				<div class="picture">
					<div class="overlay"></div>
					<div class="image" style="background-image: url('../static/demo/langosch-bg.jpg')"></div>
				</div>
				<h3>Lángosch</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Quisque eu nibh et mi egestas pretium at eget elit. Vestibulum et felis eget dui facilisis tincidunt.
					Maecenas vel nibh aliquam, luctus massa vel, venenatis elit. Integer et finibus eros. Nullam a enim 
					luctus, volutpat nisl a, vulputate leo. Nulla facilisi. Praesent in neque eget lectus consequat 
					euismod ut eget erat.
				</p>
				<span class="colored">
					<b>Következő nyitás:</b>
					<em>2018.04.12. 18:00</em>
				</span>
			</div>
		</div>
	</div>
	
	<div th:replace="MainLayout :: footer"></div>
</body>
</html>