<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="MainLayout :: head">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,900&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<div class="header" th:replace="MainLayout :: header">
</div>

<div class="left-menu" th:replace="MainLayout :: left-menu">
</div>

<div class="page content">
    <div class="highlighted latest dashboard">
        <div class="decoration admin">
            <i class="material-icons main">tune</i>
        </div>
        <h3 th:text="#{lang.configure.title}" class="topless">Leader Dashboard</h3>

        <a class="button" href="#" th:unless="${pr}" th:href="@{/configure/__${circleId}__/edit}"
           th:text="#{lang.configure.edit-circle}">Edit circle</a>
        <br/>
        <a class="button" style="margin: 0 0 20px 0" href="#" th:href="@{/configure/__${circleId}__/reviews}"
           th:text="#{lang.configure.title-show-reviews}">Show Reviews</a>
    </div>

    <div class="highlighted dashboard">
        <table class="form full-table">
            <tr>
                <th th:text="#{lang.configure.opening-list}">Openings</th>
                <th></th>
            </tr>
            <tr th:each="opening : ${circle.openings}" th:object="${opening}">
                <td th:text="${timeService.format(opening.dateStart, #messages.msg('lang.date-format'))}">2018.05.01. 00:00
                </td>
                <td>
                    <a href="#" th:href="@{/kitchen-view/__${circleId}__/__*{id}__/kitchen}"><i
                            class="material-icons">blender</i></a>
                    <a href="#" th:href="@{/configure/__${circleId}__/openings/show/__*{id}__}"><i
                            class="material-icons">details</i></a>
                    <a href="#" th:href="@{/configure/__${circleId}__/openings/delete/__*{id}__}"><i
                            class="material-icons">delete</i></a>
                </td>
            </tr>
        </table>

        <a class="button" href="#" th:href="@{/configure/__${circleId}__/openings/new}"
           th:text="#{lang.configure.title-opening}">New opening</a>
    </div>

    <div class="highlighted dashboard">
        <form th:action="|@{/configure}/${circleId}/mass-update-items|" method="post">
            <table class="form full-table">
                <tr>
                    <th th:text="#{lang.configure.item-list}">Items</th>
                    <th></th>
                </tr>
                <tr th:each="item : ${items}" th:object="${item}">
                    <td>
                        <input type="checkbox" th:id="|item*{id}|" th:name="|item*{id}|" />
                        <label class="item-name" th:text="*{name}" th:for="|item*{id}|">Item name</label>
                        <i class="item-status" th:text="#{lang.configure.item-hidden}" th:unless="*{visible}">(rejtett)</i>
                        <i class="item-status" th:text="#{lang.configure.item-not-orderable}" th:unless="*{orderable}">(nem rendelhető)</i>
                    </td>
                    <td>
                        <a href="#" th:href="@{/configure/__${circleId}__/items/edit/__*{id}__}"><i class="material-icons">edit</i></a>
                        <a href="#" th:href="@{/configure/__${circleId}__/items/delete/__*{id}__}"><i
                                class="material-icons">delete</i></a>
                    </td>
                </tr>
            </table>

            <div style="display: inline-block; margin-top: 20px">
                <label th:text="#{lang.configure.action}" for="action">Művelet</label>
                <select name="action" id="action">
                    <option th:text="#{lang.configure.action.visible}" value="visible">Legyen látható</option>
                    <option th:text="#{lang.configure.action.not-visible}" value="not-visible">Legyen rejtett</option>
                    <option th:text="#{lang.configure.action.orderable}" value="orderable">Legyen rendelhető</option>
                    <option th:text="#{lang.configure.action.not-orderable}" value="not-orderable">Ne legyen rendelhető</option>
                    <option th:text="#{lang.configure.action.set-price}" value="price">Legyen a termék ára</option>
                    <option th:text="#{lang.configure.action.set-json}" value="json">Legyen a beállítás JSON</option>
                </select>
            </div>
            <div style="display: inline-block; margin-top: 20px">
                <label th:text="#{lang.configure.action.parameter}" for="arg">Paraméter</label>
                <input type="text" name="arg" id="arg" />
            </div>
            <div style="display: inline-block; margin-top: 20px">
                <input class="button form-button" type="submit" th:value="#{lang.configure.mass-update-items}" />
            </div>
        </form>

        <a class="button" href="#" th:href="@{/configure/__${circleId}__/items/new}"
           th:text="#{lang.configure.title-item}">New item</a>
    </div>

    <div class="highlighted dashboard members latest" th:unless="${pr}">
        <table class="form full-table no-top-table">
            <tr>
                <th th:text="#{lang.configure.member-list}">Members</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="member : ${circle.members}" th:object="${member}">
                <td th:text="*{name}">Test Person</td>
                <td th:text="*{rank}">Member</td>
                <td>
                    <a href="#" th:href="@{/configure/__${circleId}__/members/edit/__*{id}__}"><i
                            class="material-icons">edit</i></a>
                    <a href="#" th:href="@{/configure/__${circleId}__/members/delete/__*{id}__}"><i
                            class="material-icons">delete</i></a>
                </td>
            </tr>
        </table>

        <a class="button" href="#" th:href="@{/configure/__${circleId}__/members/new}"
           th:text="#{lang.configure.title-member-new}">New member</a>
    </div>

    <div class="highlighted dashboard members latest" th:if="${owner}">
        <table class="form full-table no-top-table">
            <tr>
                <th th:text="#{lang.configure.member-roles}">Roles</th>
                <th></th>
            </tr>
            <tr th:each="role : ${roles}" th:object="${role}">
                <td th:text="*{name}">Test Person</td>
                <td th:text="*{permission}">LEADER</td>
            </tr>
        </table>

        <a class="button" href="#" th:href="@{/configure/__${circleId}__/roles/list}"
           th:text="#{lang.configure.title-member-roles-add}">New role</a>
    </div>

    <div style="margin-top: 40px" th:if="${pr}"></div>
</div>

<div th:replace="MainLayout :: footer"></div>
</body>
</html>