<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" th:remove="all"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" th:remove="all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" th:remove="all"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,900&amp;subset=latin-ext" rel="stylesheet"
          th:remove="all">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" th:remove="all">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" th:remove="all"/>
    <object th:insert="~{MainLayout :: head}" th:remove="tag"></object>
    <link rel="manifest" href="/manifest.json">
    <script src="../static/js/items.js" th:src="@{/js/items.js}"></script>
    <object th:insert="~{fragments/lang :: script()}" th:remove="tag"></object>
</head>
<body>

<object th:insert="~{fragments/itemPopup :: popup}" th:remove="tag"></object>

<div id="blur-section">
    <div class="header" th:replace="~{MainLayout :: header}">
    </div>

    <div class="left-menu" th:replace="~{MainLayout :: left-menu}">
    </div>

    <div class="content">
        <div class="search-container">
            <a th:href="@{/items/}"><i class="material-icons">turned_in</i>&nbsp;<span>Minden termék</span></a>
            <a th:href="@{/items/?now}"><i class="material-icons">local_mall</i>&nbsp;<span>Rendelhető</span></a>
            <a th:href="@{/items/?tomorrow}"><i
                    class="material-icons">calendar_today</i>&nbsp;<span>Holnap rendelhető</span></a>

            <form class="search" action="#" th:action="@{/search/}" method="get"
                  onsubmit="searchSubmit(); return false">
                <input type="text" name="q" id="search-input" th:value="${keyword}" autocomplete="off"
                       spellcheck="false" autofocus onkeyup="filterSearch()"/>
                <i class="material-icons" onclick="searchSubmit(); return false">search</i>
            </form>
        </div>

        <div class="item-set" id="item-set" th:remove="body">
            <div class="item orange">
                <div class="picture" style="background-image: url('../demo/pizzasch-bg.jpg');">
                    <div class="overlay"></div>
                </div>
                <h3>Ördög Pizza</h3>
                <table>
                    <tr>
                        <td>Feltét:</td>
                        <td>Jalapeno szósz, Pick szalámi, bacon, pepperóni, mozzarella</td>
                    </tr>
                    <tr>
                        <td>Méret:</td>
                        <td>32</td>
                    </tr>
                    <tr>
                        <td>Csípősség:</td>
                        <td>Perem</td>
                    </tr>
                    <tr>
                        <td>Ár:</td>
                        <td>800 JMF</td>
                    </tr>
                </table>
                <span>
                    <a href="#"><i class="material-icons">add_shopping_cart</i></a>
                    <a href="#"><i class="material-icons">assignment</i></a>
                    <a href="#" th:href="@{/provider/pizzas}">Pizzásch</a>
                </span>
            </div>

            <div class="item orange">
                <div class="picture" style="background-image: url('../demo/pizzasch-bg.jpg');">
                    <div class="overlay"></div>
                </div>
                <h3>Songoku Pizza</h3>
                <table>
                    <tr>
                        <td>Feltét:</td>
                        <td>Paradicsomos alap, sonka, kukorica, friss gomba, mozzarella</td>
                    </tr>
                    <tr>
                        <td>Méret:</td>
                        <td>32</td>
                    </tr>
                    <tr>
                        <td>Ár:</td>
                        <td>800 JMF</td>
                    </tr>
                </table>
                <span>
                    <a href="#"><i class="material-icons">add_shopping_cart</i></a>
                    <a href="#"><i class="material-icons">assignment</i></a>
                    <a href="#" th:href="@{/provider/pizzas}">Pizzásch</a>
                </span>
            </div>

            <div class="item orange">
                <div class="picture" style="background-image: url('../demo/pizzasch-bg.jpg');">
                    <div class="overlay"></div>
                </div>
                <h3>Royal w/ Cheese Pizza</h3>
                <table>
                    <tr>
                        <td>Feltét:</td>
                        <td>Bacon, sonka, paradicsom, mozzarella, sajtkrémes alap</td>
                    </tr>
                    <tr>
                        <td>Méret:</td>
                        <td>32</td>
                    </tr>
                    <tr>
                        <td>Ár:</td>
                        <td>800 JMF</td>
                    </tr>
                </table>
                <span>
                    <a href="#"><i class="material-icons">add_shopping_cart</i></a>
                    <a href="#"><i class="material-icons">assignment</i></a>
                    <a href="#" th:href="@{/provider/pizzas}">Pizzásch</a>
                </span>
            </div>

        </div>

        <img src="image/loading.svg" th:src="@{/image/loading.svg}" height="80" width="80" id="loading"/>
        <span class="list-end" id="list-end" th:text="#{lang.items.list-end}">End of the list reached</span>
        <span class="list-end" id="no-results" th:text="#{lang.items.no-results}">No results found</span>
    </div>
    <div th:replace="~{MainLayout :: footer}"></div>
</div>
</body>
</html>
