<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8" th:remove="all"/> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" th:remove="all"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" th:remove="all"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,900&amp;subset=latin-ext" rel="stylesheet" th:remove="all">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" th:remove="all">
	<link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" th:remove="all"/>
	<object th:include="MainLayout :: head" th:remove="tag"></object>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" 
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" 
		crossorigin="anonymous"></script>
	<script src="../static/js/items.js" th:src="@{/js/items.js}"></script>
	<script th:if="${searchMode}" th:inline="javascript">
		var LANG = {
			"size": /*[[ #{lang.items.custom-size} ]]*/ "size",
			"sauce": /*[[ #{lang.items.custom-sauce} ]]*/ "Sauce",
			"extra": /*[[ #{lang.items.custom-extra} ]]*/ "Extra",
			"contain": /*[[ #{lang.items.custom-contain} ]]*/ "Contain",
			"type": /*[[ #{lang.items.custom-type} ]]*/ "Type",
			"potato": /*[[ #{lang.items.custom-potato} ]]*/ "Potato",
			"panzo": /*[[ #{lang.items.custom-panzo} ]]*/ "Panzo",
			"price": /*[[ #{lang.items.price} ]]*/ "Price",
			"pieces": /*[[ #{lang.items.pieces} ]]*/ "pieces",
			"ingred": /*[[ #{lang.items.ingredients} ]]*/ "Ingredients",
			"currency": /*[[ #{lang.currency} ]]*/ "Ft"
		};
		var URL_BASE = /*[[ @{/} ]]*/ "/";
		$(document).ready(function() { 
			searchFor(/*[[ ${keyword} ]]*/ ""); 
			if ((/*[[ ${keyword} ]]*/ "").length === 0) appendNext(); 
		});
	</script>
	<script th:unless="${searchMode}" th:inline="javascript">
		var LANG = {
			"size": /*[[ #{lang.items.custom-size} ]]*/ "size",
			"sauce": /*[[ #{lang.items.custom-sauce} ]]*/ "Sauce",
			"extra": /*[[ #{lang.items.custom-extra} ]]*/ "Extra",
			"contain": /*[[ #{lang.items.custom-contain} ]]*/ "Contain",
			"type": /*[[ #{lang.items.custom-type} ]]*/ "Type",
			"potato": /*[[ #{lang.items.custom-potato} ]]*/ "Potato",
			"panzo": /*[[ #{lang.items.custom-panzo} ]]*/ "Panzo",
			"price": /*[[ #{lang.items.price} ]]*/ "Price",
			"pieces": /*[[ #{lang.items.pieces} ]]*/ "pieces",
			"ingred": /*[[ #{lang.items.ingredients} ]]*/ "Ingredients",
			"currency": /*[[ #{lang.currency} ]]*/ "Ft"
		};
		var URL_BASE = /*[[ @{/} ]]*/ "/";
		$(document).ready(function() { appendNext(); });
	</script>
</head>
<body>

	<div class="done">
		<div class="done-circle"><div class="done-tick"></div></div><br />
	</div>

	<div class="popup-bg inactive" id="popup">
		<div class="popup" id="popup-window">
			<section>
				<div class="popup-scroll-child">
					<div class="picture border-colored" id="popup-header">
						<div class="overlay">
							<i class="material-icons" onclick="closePopup()">close</i>
						</div>
						<div class="logo">
							<img src="icons/ecommerce_bag_check.svg" th:src="@{/icons/ecommerce_bag_check.svg}"/>
						</div>
					</div>
					<h3 id="popup-title">Ördög pizza</h3>
					<div class="body">
						<div class="info">
							<div class="image" id="popup-image" style="background-image:url('../demo/pizzasch-bg.jpg')">
								<div class="overlay"></div>
								<i class="material-icons">fullscreen</i>
							</div>
							<p id="popup-description">Jalapenos alap, csili, pick szalámi mittomén, izé</p><br />
							<h5 th:text="#{lang.items.price}">Ára:</h5>
							<span class="colored-light" id="popup-price">800 JMF</span>
						</div>
						<form onsubmit="buySelectedItem(); return false;" action="#" method="GET" class="form-order">
							<ins id="popup-custom"></ins>
							<label th:text="#{lang.items.interval}">Time</label>
							<select name="time">
								<option value="0">18:00 - 18:30 (20 db)</option>
								<option value="1">18:30 - 19:00 (16 db)</option>
								<option value="2">19:00 - 19:30 (20 db)</option>
								<option value="3">19:30 - 20:00 (20 db)</option>
							</select>
							<label th:text="#{lang.items.comment}">Comment</label>
							<input id="popup-comment" type="text" name="comment" autocomplete="off" />
							<input type="submit" class="colored-light" value="Order" 
									th:value="#{lang.items.buy}" th:unless="${session.user} eq null" />
							<em th:text="#{lang.items.loggedin}" th:if="${session.user} eq null">You need to be logged in to order</em>
						</form>
					</div>
				</div>
			</section>
		</div>
	</div>
	
	<div id="blur-section">
		<div class="header" th:replace="MainLayout :: header">
			<span th:text="#{lang.header}">WEBSCHOP</span>
			<nav>
				<a href="index.html"	th:href="@{/}" 		 th:text="#{lang.nav.home}">Home</a>
				<a href="circle.html" 	th:href="@{/circle}" th:text="#{lang.nav.circle}">Circles</a>
				<a href="items.html" 	th:href="@{/items}"  th:text="#{lang.nav.items}">Items</a>
				<a href="#login" 		th:href="@{/login}"  th:text="#{lang.nav.login}">Login</a>
			</nav>
		</div>
		
		<div class="left-menu" th:replace="MainLayout :: left-menu">
			<a th:each="circle : ${circles}">
				<img src="../static/icons/ecommerce_bag_check.svg" th:src="@{${circle.logoUrl}}" />
				<span th:text="${circle.displayName}">Vödör</span>
			</a>
			<a th:remove="all"><img src="../static/icons/ecommerce_gift.svg" />Americano</a>
			<a th:remove="all"><img src="../static/icons/ecommerce_graph_increase.svg" />Pizzásch</a>
			<a th:remove="all"><img src="../static/icons/ecommerce_money.svg" />Gyros</a>
			<a th:remove="all"><img src="../static/icons/ecommerce_safe.svg" />Kakas</a>
			<a th:remove="all"><img src="../static/icons/ecommerce_sale.svg" />Lángosch</a>
		</div>
		
		<div class="content">
			<div class="search-container">
				<a href=""><i class="material-icons">turned_in</i>&nbsp;<span>Minden termék</span></a>
				<a href=""><i class="material-icons">local_mall</i>&nbsp;<span>Rendelhető</span></a>
				<a href=""><i class="material-icons">calendar_today</i>&nbsp;<span>Holnap rendelhető</span></a>

				<form class="search" action="#" th:action="@{/search/}" method="get" onsubmit="searchSubmit(); return false">
					<input type="text" name="q" id="search-input" th:value="${keyword}" autocomplete="off" spellcheck="false" />
					<i class="material-icons" onclick="searchSubmit(); return false">search</i>
				</form>
			</div>

			<div class="item-set" id="item-set" th:remove="body">
				<div class="item orange">
					<div class="picture" style="background-image: url('../demo/pizzasch-bg.jpg');">
						<div class="overlay"></div>
					</div>
					<h3>Ördög Pizza</h3>
					<table>
						<tr>
							<td>Feltét:</td>
							<td>Jalapeno szósz, Pick szalámi, bacon, pepperóni, mozzarella</td>
						</tr>
						<tr>
							<td>Méret:</td>
							<td>32</td>
						</tr>
						<tr>
							<td>Csípősség:</td>
							<td>Perem</td>
						</tr>
						<tr>
							<td>Ár:</td>
							<td>800 JMF</td>
						</tr>
					</table>
					<span>
						<a href="#"><i class="material-icons">add_shopping_cart</i></a>
						<a href="#"><i class="material-icons">assignment</i></a>
						<a href="#" th:href="@{/circle/pizzas}">Pizzásch</a>
					</span>
				</div>
				
				<div class="item orange">
					<div class="picture" style="background-image: url('../demo/pizzasch-bg.jpg');">
						<div class="overlay"></div>
					</div>
					<h3>Songoku Pizza</h3>
					<table>
						<tr>
							<td>Feltét:</td>
							<td>Paradicsomos alap, sonka, kukorica, friss gomba, mozzarella</td>
						</tr>
						<tr>
							<td>Méret:</td>
							<td>32</td>
						</tr>
						<tr>
							<td>Ár:</td>
							<td>800 JMF</td>
						</tr>
					</table>
					<span>
						<a href="#"><i class="material-icons">add_shopping_cart</i></a>
						<a href="#"><i class="material-icons">assignment</i></a>
						<a href="#" th:href="@{/circle/pizzas}">Pizzásch</a>
					</span>
				</div>
				
				<div class="item orange">
					<div class="picture" style="background-image: url('../demo/pizzasch-bg.jpg');">
						<div class="overlay"></div>
					</div>
					<h3>Royal w/ Cheese Pizza</h3>
					<table>
						<tr>
							<td>Feltét:</td>
							<td>Bacon, sonka, paradicsom, mozzarella, sajtkrémes alap</td>
						</tr>
						<tr>
							<td>Méret:</td>
							<td>32</td>
						</tr>
						<tr>
							<td>Ár:</td>
							<td>800 JMF</td>
						</tr>
					</table>
					<span>
						<a href="#"><i class="material-icons">add_shopping_cart</i></a>
						<a href="#"><i class="material-icons">assignment</i></a>
						<a href="#" th:href="@{/circle/pizzas}">Pizzásch</a>
					</span>
				</div>
							
			</div>
			
			<img src="image/loading.svg" th:src="@{/image/loading.svg}" height="80" width="80" id="loading" />
			<span class="list-end" id="list-end" th:text="#{lang.items.list-end}">End of the list reached</span>
			<span class="list-end" id="no-results" th:text="#{lang.items.no-results}">No results found</span>
		</div>
		<div th:replace="MainLayout :: footer"></div>
	</div>
</body>
</html>