<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="MainLayout :: head">
	<meta charset="UTF-8" /> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,900&amp;subset=latin-ext" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" />
</head>
<body>
	<div class="header" th:replace="MainLayout :: header">
	</div>
	
	<div class="left-menu" th:replace="MainLayout :: left-menu">
	</div>

	<div class="page content">
		<div class="highlighted latest prompt">
			<div class="decoration admin">
				<i class="material-icons main">how_to_reg</i>
			</div>
			<h3 th:text="#{lang.configure.title-member}" class="topless">Prompt text comes here?</h3>
			<form action="#" th:action="@{/configure/__${circleId}__/members/new}" method="post" enctype="multipart/form-data">
				<table class="form full-table" th:object="${member}">
					<input type="hidden" th:field="*{id}" />
					<tr>
						<th>Property</th>
						<th>Value</th>
					</tr>
					<tr>
						<td th:text="#{lang.configure.member.name}">Name</td>
						<td><input type="text" th:field="*{name}"/></td>
					</tr>
					<tr>
						<td th:text="#{lang.configure.member.rank}">Rank</td>
						<td><input type="text" th:field="*{rank}"/></td>
					</tr>
					<tr>
						<td th:text="#{lang.configure.member.profile}">Profile</td>
						<td><input type="file" name="avatarFile"/></td>
					</tr>
				</table>
				<input class="button" type="submit" th:value="#{lang.configure.title-member}" /> 
			</form>
		</div>
	</div>

	<div th:replace="MainLayout :: footer"></div>
</body>
</html>