<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="MainLayout :: head">
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,900&amp;subset=latin-ext" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" />
</head>
<body>
	<div class="header" th:replace="MainLayout :: header">
	</div>
	
	<div class="left-menu" th:replace="MainLayout :: left-menu">
	</div>

	<div class="page content">
		<div class="highlighted latest">
			<div class="decoration rating">
				<i class="material-icons main">star</i>
			</div>
			<h3 th:text="#{lang.review.title}" class="topless">Review</h3>
			<form action="#" th:action="@{/review/__${orderId}__}" th:object="${review}" method="post">
				<table class="form review">
					<tr>
						<td th:text="#{lang.review.order}">Circle to review</td>
						<td th:text="${selectedCircle?.displayName}" style="color: #F4CF3B !important; text-align: right;"></td>
					</tr>
					<tr>
						<td colspan="2"><textarea th:field="*{review}" maxlength="1000"></textarea></td>
					</tr>
					<tr>
						<td th:text="#{lang.profile.quality}">Quality</td>
						<td>
							<th:block th:include="fragments/stars :: rate('Quality')"></th:block>
						</td>
					</tr>
					<tr>
						<td th:text="#{lang.profile.price}">Price</td>
						<td>
							<th:block th:include="fragments/stars :: rate('Price')"></th:block>
						</td>
					</tr>
					<tr>
						<td th:text="#{lang.profile.speed}">Speed</td>
						<td>
							<th:block th:include="fragments/stars :: rate('Speed')"></th:block>
						</td>
					</tr>
					<tr>
						<td th:text="#{lang.profile.over-all}">OverAll</td>
						<td>
							<th:block th:include="fragments/stars :: rate('OverAll')"></th:block>
						</td>
					</tr>
				</table>

				<a class="button" href="circleProfile.html" th:href="@{/profile}"
						th:text="#{lang.review.cancel}">Back</a>
				<input class="button" type="submit" th:value="#{lang.review.send}" />
			</form>
		</div>
	</div>

	<div th:replace="MainLayout :: footer"></div>
</body>
</html>