<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="MainLayout :: head">
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,900&amp;subset=latin-ext" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" />
	<link rel="stylesheet" th:href="@{/css/star-rating.css}" href="../static/css/star-rating.css" />
</head>
<body>
	<div class="header" th:replace="MainLayout :: header">
	</div>
	
	<div class="left-menu" th:replace="MainLayout :: left-menu">
	</div>

	<div class="page content">
		<div class="highlighted latest">
			<div class="decoration rating">
				<i class="material-icons main">star</i>
			</div>
			<h3 th:text="#{lang.review.title}" class="topless">Review</h3>
			<form action="#" th:action="@{/review/__${orderId}__}" th:object="${review}" method="post">
				<table class="form">
					<!--/* TODO: migrate this part into the html's own css file */-->
					<style>
						td {
							padding-left: 12px !important;
						}
					</style>
					<tr>
						<td th:text="#{lang.review.order}">Circle to review</td>
						<td th:text="${selectedCircle?.displayName}" style="color: #F4CF3B !important; text-align: right;"></td>
					</tr>
					<tr>
						<td colspan="2"><textarea th:field="*{review}" maxlength="1000"></textarea></td>
					</tr>
					<tr>
						<td th:text="#{lang.profile.quality}">Quality</td>
						<td>
							<fieldset class="star-rating">
								<div class="star-rating__stars">
									<input class="star-rating__input" type="radio" name="rateQuality" value="1" id="rating-1-quality" />
									<label class="star-rating__label" for="rating-1-quality"></label>
									<input class="star-rating__input" type="radio" name="rateQuality" value="2" id="rating-2-quality" />
									<label class="star-rating__label" for="rating-2-quality"></label>
									<input class="star-rating__input" type="radio" name="rateQuality" value="3" id="rating-3-quality" checked />
									<label class="star-rating__label" for="rating-3-quality"></label>
									<input class="star-rating__input" type="radio" name="rateQuality" value="4" id="rating-4-quality" />
									<label class="star-rating__label" for="rating-4-quality"></label>
									<input class="star-rating__input" type="radio" name="rateQuality" value="5" id="rating-5-quality" />
									<label class="star-rating__label" for="rating-5-quality"></label>
									<div class="star-rating__focus"></div>
								</div>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td th:text="#{lang.profile.price}">Price</td>
						<td>
							<fieldset class="star-rating">
								<div class="star-rating__stars">
									<input class="star-rating__input" type="radio" name="ratePrice" value="1" id="rating-1-price" />
									<label class="star-rating__label" for="rating-1-price"></label>
									<input class="star-rating__input" type="radio" name="ratePrice" value="2" id="rating-2-price" />
									<label class="star-rating__label" for="rating-2-price"></label>
									<input class="star-rating__input" type="radio" name="ratePrice" value="3" id="rating-3-price" checked />
									<label class="star-rating__label" for="rating-3-price"></label>
									<input class="star-rating__input" type="radio" name="ratePrice" value="4" id="rating-4-price" />
									<label class="star-rating__label" for="rating-4-price"></label>
									<input class="star-rating__input" type="radio" name="ratePrice" value="5" id="rating-5-price" />
									<label class="star-rating__label" for="rating-5-price"></label>
									<div class="star-rating__focus"></div>
								</div>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td th:text="#{lang.profile.speed}">Speed</td>
						<td>
							<fieldset class="star-rating">
								<div class="star-rating__stars">
									<input class="star-rating__input" type="radio" name="rateSpeed" value="1" id="rating-1-speed" />
									<label class="star-rating__label" for="rating-1-speed"></label>
									<input class="star-rating__input" type="radio" name="rateSpeed" value="2" id="rating-2-speed" />
									<label class="star-rating__label" for="rating-2-speed"></label>
									<input class="star-rating__input" type="radio" name="rateSpeed" value="3" id="rating-3-speed" checked />
									<label class="star-rating__label" for="rating-3-speed"></label>
									<input class="star-rating__input" type="radio" name="rateSpeed" value="4" id="rating-4-speed" />
									<label class="star-rating__label" for="rating-4-speed"></label>
									<input class="star-rating__input" type="radio" name="rateSpeed" value="5" id="rating-5-speed" />
									<label class="star-rating__label" for="rating-5-speed"></label>
									<div class="star-rating__focus"></div>
								</div>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td th:text="#{lang.profile.over-all}">Overall</td>
						<td>
							<fieldset class="star-rating">
								<div class="star-rating__stars">
									<input class="star-rating__input" type="radio" name="rateOverAll" value="1" id="rating-1-overall" />
									<label class="star-rating__label" for="rating-1-overall"></label>
									<input class="star-rating__input" type="radio" name="rateOverAll" value="2" id="rating-2-overall" />
									<label class="star-rating__label" for="rating-2-overall"></label>
									<input class="star-rating__input" type="radio" name="rateOverAll" value="3" id="rating-3-overall" checked />
									<label class="star-rating__label" for="rating-3-overall"></label>
									<input class="star-rating__input" type="radio" name="rateOverAll" value="4" id="rating-4-overall" />
									<label class="star-rating__label" for="rating-4-overall"></label>
									<input class="star-rating__input" type="radio" name="rateOverAll" value="5" id="rating-5-overall" />
									<label class="star-rating__label" for="rating-5-overall"></label>
									<div class="star-rating__focus"></div>
								</div>
							</fieldset>
						</td>
					</tr>
				</table>

				<a class="button" href="circleProfile.html" th:href="@{/profile}"
						th:text="#{lang.review.cancel}">Back</a>
				<input class="button" type="submit" th:value="#{lang.review.send}" />
			</form>
		</div>
	</div>

	<div th:replace="MainLayout :: footer"></div>
</body>
</html>