<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="MainLayout :: head">
	<meta charset="UTF-8" /> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,900&amp;subset=latin-ext" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" />
</head>
<body>
	<div class="header" th:replace="MainLayout :: header">
	</div>
	
	<div class="left-menu" th:replace="MainLayout :: left-menu">
	</div>

	<div class="page content">
		<div class="highlighted latest prompt">
			<div class="decoration admin">
				<i class="material-icons main">security</i>
			</div>
			<h3 th:text="#{lang.admin.roles.title-roles}" class="topless">Prompt text comes here?</h3>
            <form action="#" th:action="@{/admin/roles/edit/}" method="post">
				<table class="form full-table">
					<input type="hidden" name="uidHash" th:value="${uidHash}" />
					<tr>
						<th th:text="#{lang.modify.property}">Property</th>
						<th th:text="#{lang.modify.value}">Value</th>
					</tr>
					<tr>
						<td th:text="#{lang.admin.roles.name}">Name</td>
						<td><input type="text" name="name" th:value="${name}" disabled/></td>
					</tr>
                    <tr>
                        <td th:text="#{lang.admin.roles.sysadmin}">SysAdmin</td>
                        <td><input type="checkbox" name="sysadmin" th:checked="${sysadmin}"/></td>
                    </tr>
					<tr>
						<td th:text="#{lang.admin.roles.roles}">Rank</td>
						<td><input type="text" name="roles" th:value="${roles}"/></td>
					</tr>
				</table>
				<input class="button" type="submit" th:value="#{lang.admin.title-roles}" /> 
			</form>
		</div>
	</div>

	<div th:replace="MainLayout :: footer"></div>
</body>
</html>